/* Main */
body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 400px;
  height: auto;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  transition: opacity 0.5s;
}

@media screen and (max-width: 600px) {
  .navbar {
    transform: translateX(-40%);
    width: 60%;
  }
}

.navbar button {
  background-color: rgb(48, 49, 49);
  color: rgb(167, 166, 166);
}

.navbar:hover {
  opacity: 1;
}

.chage-language {
  position: fixed;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chage-language:hover {
  text-decoration: underline;
}

.chage-language img {
  width: 26px;
}

#title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

#my-name {
  font-size: 100px;
  margin: 2px;
}

#infoText {
  width: 60%;
  height: 100px;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  #infoText {
    width: auto;
    height: auto;
  }
}

.tecnologies {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.tecnologies .tecnology {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.tecnologies img {
  width: 40px;
  margin: 2px;
}

.certification-button {
  background-color: rgb(6, 6, 6);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px;
}
.certification-button:hover {
  background-color: rgb(37, 33, 33);
  color: rgb(255, 255, 255);
}

.certification-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  color: rgb(106, 106, 106);
}

.certification-button img {
  width: 40px;
}

/* End Main */

/* Social */

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.social .social-logo {
  float: left;
  width: 40px;
  margin-right: 20px;
}

.social .social-item {
  align-self: center;
  width: 300px;
  display: flex;
  align-items: start;
}

.social .social-link {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* End Social */

/* Projects */

.projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.projects .card {
  background-color: rgb(10, 10, 10);
  color: rgb(142, 141, 141);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: rgb(3, 18, 52) 0px 5px 15px;
  cursor: default;
}

.projects .card:hover {
  background-color: rgb(37, 33, 33);
  color: rgb(255, 255, 255);

  box-shadow: rgb(57, 103, 212) 0px 5px 15px;
  transform: scale(1.05);
  transition: 0.1s;
  z-index: 1;
}

.projects .card .Cardtecnologies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.projects .card .CardTecnology {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(64, 145, 116);
}

.projects .card a {
  text-decoration: none;
  color: rgb(95, 94, 97);
}

.projects .card a:hover {
  color: purple;
}
/* End Projects */

/* PopUp */

.PopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.PopUp .VoidContainer {
  width: 100%;
  height: 100%;
}

.PopUpContainer {
  width: 80%;
  height: 80vh;
  background-color: rgb(55, 54, 54);
  border: none;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: default;
  overflow-y: auto;
  position: fixed;
  padding: 40px;
}

.PopUpContainer .close {
  position: fixed;
  top: 90px;
  right: 166px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .PopUpContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .PopUpContainer .close {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
  }
}

.PopUpContainer::-webkit-scrollbar {
  width: 10px;
}

.PopUpContainer::-webkit-scrollbar-thumb {
  background-color: rgb(90, 89, 89);
  border-radius: 5px;
}

.PopUpContainer .card {
  width: 80%;
  position: absolute;
  border: 2px solid rgb(12, 98, 164);
  background-color: rgb(55, 54, 54);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 80px;
  cursor: default;
}

.PopUpContainer .card img {
  margin-top: 100px;
}

.PopUpContainer .card .card-links {
  margin-right: 20px;
  margin-top: 20px;
  display: inline;
  font-size: 20px;
  color: rgb(71, 74, 76);
}

.PopUpContainer .card .card-links a {
  border: 2px solid rgb(12, 98, 164);
  text-decoration: none;
  color: rgb(12, 98, 164);
  font-size: 20px;
  margin-left: 80px;
}

.PopUpContainer .card .card-links a:hover {
  border: 2px solid transparent;
  color: rgb(233, 108, 183);
}

/* End PopUp */
